[submodule "external/BasicRHI"]
	path = external/BasicRHI
	url = git@github.com:panthuncia/BasicRHI.git
[submodule "external/OpenRenderGraph"]
	path = external/OpenRenderGraph
	url = git@github.com:panthuncia/OpenRenderGraph.git
[submodule "external/ORGModuleServices"]
	path = external/ORGModuleServices
	url = git@github.com:panthuncia/ORGModuleServices.git
[submodule "external/BasicTelemetry"]
	path = external/BasicTelemetry
	url = git@github.com:panthuncia/BasicTelemetry.git
[submodule "external/volk"]
	path = external/volk
	url = https://github.com/zeux/volk.git
[submodule "external/nifly"]
	path = external/nifly
	url = https://github.com/ousnius/nifly.git
